<!DOCTYPE html>
<html>

<head>
    <title>Blogging Site</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <h1>Welcome to the Blogging Site</h1>
    <ul>
        <% blogs.forEach(blog=> { %>
            <li><a href="/blog/<%= blog.id %>">
                    <%= blog.title %>
                </a></li>
            <% }); %>
    </ul>
</body>

</html>